# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Directorio de construcción
dist/
build/

# Directorio de uploads
uploads/

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.idea/
.vscode/
*.swp
*.swo

prisma/migrations/
storedProcedure.sql